<!DOCTYPE html>
html(lang="en")
head
	include partials/header
body.login
	.contenedor-formulario
		h1= nombrePagina
		p Escribe tu nuevo password
		if locals.mensajes
				.alerta
					each categoria in Object.keys(locals.mensajes)
						each  error in mensajes[categoria]
							.alerta(class=`${categoria}`)
								p= error
		form.caja-login(method="POST")
			.campo
				label(for="password") Password
				input(type="password" name="password" placeholder="Tu nuevo password")
			.campo
				label(for="confirmar_password") Confirmar Password
				input(type="password" name="confirmar_password" placeholder="Confirma tu password")
			.campo.enviar
				input.boton(type="submit" value="Reestablecer la contraseña")
