<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width,initial-scale=1.0")
	meta(http-equiv="X-UA-Compatible", content="ie=edge")
	style
		include css/emailStyle.css
	//title Document
body
	h2 Confirmar cuenta en Uptask 
	p Estñas registrado en UpTask pero necesitas confirmar tu cuenta. Presiona el siguiente botón:
	a(href=`${urlConfirm}`) Confirmar Cuenta
	p Si el enlace anterior no funciona visiat el siguiente enlace #{urlConfirm}
